/* For mobile phones: */
p {
  margin: 0;
}

h3 {
  color: #212529;
  text-align: center;
}
#navbar {
  background-color: #2081d2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
}

#backButtonContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pageTitleContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 3em;
  width: 6em;
}

#results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.weatherInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#weatherOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#weatherDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#pageTitle {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  text-align: center;
}

.iconify {
  font-size: 1.5em;
  color: white;
}

#userNameContainer {
  text-align: center;
}

.form-control {
  text-align: center;
}

#userInfoContainer {
  background-color: #2081d2;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  color: white;
}

#updateButton {
  width: 100%;
  margin-top: 0.5em;
}

#favorites {
  background-color: #2081d2;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  color: white;
  text-align: center;
}

#emailContainer {
  text-align: center;
}

#favorite {
  margin: 1em;
}
#deleteFavorite {
  margin-top: 1em;
}

#dateContainer {
  text-align: center;
}

.dayWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
  background-color: #2081d2;
  padding: 2em;
  border-radius: 15px;
}

.dayWeather h1 {
  color: white;
}

/*	Small devices Tablets (≥768px) */
@media only screen and (min-width: 768px) {
}

/* Medium devices Desktops (≥992px) */
@media only screen and (min-width: 992px) {
}

/* Large devices Desktops (≥1200px) */
@media only screen and (min-width: 1200px) {
}
